.term{
    padding: 12px 0;
}
.nav-bar{
    padding: 37px 0;
    font-size: 20px;
    font-weight: bold;
}
.contenTiele{
    display: flex;
    justify-content: space-around;
    line-height: 105px;
    font-size: 20px;
    font-weight: bold;
    color: #be253b;
}
.contentDiv{
    display: flex;
    font-size: 14px;
}
.contentLeft{
    width: 403px;
    background-color: #f7f7f7;
    padding: 30px 0 52px 32px;
    margin-bottom: 12px;
    line-height: 30px;
    height: auto;
}
.contentLeft:first-child{
    padding: 30px 0 24px 32px;
}
.label-right > i {
    margin-left: 25px;
  }
.contentLeft span{
    display: block;
    line-height: 32px;
}
.contentDiv p{
    padding-right: 25px;
}
.contentRight{
    margin: 0 10px;
    width: 403px;
    background-color: #f7f7f7;
    line-height: 30px;
    height: auto;
    padding: 30px 0 52px 32px;
    margin-bottom: 12px;
}
.contentRight:first-child{
    padding: 30px 0 24px 32px;
}
.contentRight span{
    display: block;
    line-height: 32px;
}
.Dot{
    width: 6px;
    height: 6px;
    border-radius: 12px;
    background-color: #b31d26;
    display: inline-block;
    margin-left: 28px;
}
.mainTopLeft {
    margin: 12px 0px 0px 12px;
    width: 895px;
    float: left;
  }
  .mainTopLeft .border {
    padding: 0px 0px 37px 0px;
    display: flex;
    justify-content: flex-start;
  }
  .mainTopLeft .border .border-right {
    margin-left: 200px;
  }
  .person-content {
    padding-left: 22px;
    padding-right: 22px;
    color: #666;
    font-size: 14px;
  }
.person-content > p {
    line-height: 30px;
  }
.relevant {
    color: #999;
  }
  .relevant-title {
    font-size: 20px;
    color: #ba162d;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 20px;
    border-bottom: 1px solid #999999;
    font-weight: bold;
  }
  .center {
    text-align: center;
  }
  .relevant-title > span {
    font-size: 12px;
    color: #04659a;
  }
  .relevant-item {
    margin-top: 10px;
    margin-right: 20px;
    padding-bottom: 20px;
    display: inline-block;
    background-color: #fafafa;
    color: #a0a0a0;
    font-size: 14px;
    width: 244px;
    padding-left: 27px;
  }
  .relevant-item > p {
    line-height: 30px;
  }
  .relevant-item-title {
    font-size: 16px;
    color: #04659a;
    padding-top: 15px;
    padding-bottom: 25px;
  }
.lnList{
    width: 275px;;
}
.sideMenu h3{
    display: inline-block;
    margin-right: 28px;
    padding-left: 20px;
}
.Dot~h3{
    padding-left: 10px;
}
.btnBlue{
    margin-right: 0;
}
.btnWhite{
    padding: 0 11px;
    line-height: 24px;
    display: inline-block;
    background: #fff;
    color: #04659a;
    border-radius: 4px;
    font-size: 12px;
    margin-right: 0px;
    cursor: pointer;
    border: 1px solid #b5d1e0;
}
.btnWhite:hover{
    background: #04659a;
    color: #fff;
}
.tag{
    font-size: 16px;
}
.tag .delete{
    font-size: 20px;
    cursor: pointer;
}
.layui-main>.textRed{
    cursor: pointer;
}
.NavTab{
    margin: 20px 0;
}
.NavTab a.active {
    background: #BA162D;
    color: #fff;
}
.NavTab a{
    margin: 0 25px;
    color: #666;
    font-weight: bold;
    font-size: 14px;
    padding: 0 25px;
    line-height: 36px;
    display: inline-block;
    border-radius: 5px
}
.lnListPage{
    font-size: 14px;
}
.listTyC>.fr>.layui-form{
    margin: 0 10px;
}
.btnxs, a.btn{
    padding: 0 11px;
}
.bgBLine {
    border: 1px solid #156fa1;
}